### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
bin/
share/
pyvenv.cfg

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

.env
db.sqlite3

.idea/
.vscode/

